.todo-main {
  text-align: center;
}
header {
  background-color: rgb(185, 141, 227);
  color: white;
}
.todolist-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.todo-incomplete-content {
  display: flex;
  justify-content: space-around;
}
.content-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
